<nav class="navigation-mobile">
    <select id="js-navigation-mobile">
        {% for section in site.data.menu[version] %}
            <option disabled>-- {{ section[0] }}</option>
            {% for link in section[1] %}
                <option value="{{ link[1] }}">
                    {{ link[0] }}
                </option>
            {% endfor %}
        {% endfor %}
    </select>
</nav>
<nav class="navigation">
    <aside class="version">Version 3.x</aside>
    {% for section in site.data.menu[version] %}
        <h2>{{ section[0] }}</h2>
        <ul>
            {% for link in section[1] %}
                <li {% if page.url == link[1] %}class="selected"{% endif %}>
                    <a href="{{ link[1] }}">{{ link[0] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</nav>
