$color-border: #3A3A3A;
$color-border-light: lighten($color-border, 15%);
$color-category-header-background: $blue-dark;
$color-highlight-header-background: lighten($color-category-header-background, 15%);
$color-highlight-text: $orange;
$color-selected-background: $blue-lighter;
$color-selected-text: $black;
$color-left-column-bg: #F1F3F5;
$color-left-column: #555;

$breakpoint-medium: 568px;
$breakpoint-large: 768px;

$dropdown-min-width-medium: 400px;
$dropdown-min-width-large: 600px;


// The dropdown adapts to screen size, to provide three different displays.
// - A simple list of matching results
// - Same list, but with text snippetting added if size is large enough
// - Adding a second colum to let the content breath if enough room available

// Main autocomplete wrapper
.aa-dropdown-menu {
    background-color: $white;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);
    overflow: hidden;
}

// Each suggestion
.algolia-docsearch-suggestion {
    color: $black;
    cursor: pointer;
    overflow: hidden;
    border-bottom: solid 1px $blue-light;
}

// Main category headers
.algolia-docsearch-suggestion--category-header {
    display: none;
}

// Highlight
.algolia-docsearch-suggestion--highlight {
    padding: 0;
    color: $color-highlight-text;
    background: none;
    font-weight: 600;
}

// Selected suggestion
.aa-cursor .algolia-docsearch-suggestion--content {
    color: $color-selected-text;
}
.aa-cursor .algolia-docsearch-suggestion {
    background: $color-selected-background;
}

// The secondary column is hidden on small screens
.algolia-docsearch-suggestion--subcategory-column {
    display: none;
}
// The text snippet is hidden on small screens
.algolia-docsearch-suggestion--text {
    display: none;
}

.algolia-docsearch-suggestion--content {
    padding: 3px 5px;
}

.algolia-docsearch-suggestion--subcategory-inline {
    display: inline-block;
    font-weight: bold;
    &:after {
        content: " › ";
    }
}
.algolia-docsearch-suggestion--title {
    display: inline;
}

// Footer

.algolia-docsearch-footer {
    display: none;

}

// BREAKPOINT 1:
// Screen is big enough to display the text snippets
@media (min-width: $breakpoint-medium) {
    .aa-dropdown-menu {
        min-width: $dropdown-min-width-medium;
    }
    .algolia-docsearch-suggestion--text {
        display: block;
        font-size: .9em;
        padding: 2px 0;
    }
}

// BREAKPOINT 2:
// Screen is big enough to display results in two columns
@media (min-width: $breakpoint-large) {
    .aa-dropdown-menu {
        min-width: $dropdown-min-width-large;
    }

    .algolia-docsearch-suggestion--subcategory-column-text {
        display: none;
    }
    .algolia-docsearch-suggestion--content {
        display: table-cell;
        padding: 15px 10px;
    }
    .algolia-docsearch-suggestion--subcategory-inline {
        display: none;
    }
    .algolia-docsearch-suggestion--title {
        font-weight: 600;
    }
    .algolia-docsearch-suggestion--text {
        display: block;
        font-weight: normal;
        padding: 2px;
    }
}