* {
  box-sizing: border-box;
}

html {
  font-size: .9*$fs;

  @include breakpoint(900px) {
    font-size: $fs;
  }
}

body {
  color: $black;
  background-color: $beige;
  line-height: .9*$lh;
  @include gotham-narrow;

  @include breakpoint(900px) {
    line-height: $lh;
  }
}

::selection {
  color: $white;
  background-color: $blue;
}

::-moz-selection {
  color: $white;
  background-color: $blue;
}
