.main {
  padding: 27px 11px 40px;

  @include breakpoint(sm) {
    padding-left: 26px;
    padding-right: 26px;
  }

  h1 {
    display: none;
    font-size: 1.5em;
    padding: 0 4px;
    margin-bottom: $lh;
    @include gotham-narrow-bold;

    @include breakpoint(md) {
      display: block;
    }
  }

  h2 {
    @include gotham-narrow-bold;
  }

  p, h2, ul, ol {
    padding: 0 4px;
    margin-bottom: $lh;
  }

  .highlight {
    margin-top: -20px;
    margin-bottom: $lh;
  }

  p code {
    background-color: $blue-lighter;
    font-size: .9em;
    @include hack;
  }

  a {
    @include plain-link;
    border-bottom: 3px solid $blue-light;
  }

  ul li {
    padding-left: .75em;
    position: relative;

    &:before {
      content: "\2043";
      position: absolute;
      left: 0;
      top: -1px;
      opacity: .33;
    }
  }

  .next {
    margin-bottom: 0;

    &:after {
      content: "\00BB";
      @include gotham-narrow-bold;
    }
  }
}
