.header {
  color: $white;
  background-color: $blue;
  display: flex;

  @include no-flexbox {
    @include clearfix;
  }

  .brand {
    padding: 15px 30px;
    background-color: $blue-dark;
    flex: 0 0 340px;

    @include no-flexbox {
      width: 340px;
      float: left;
    }

    .logotype a {
      display: block;
      @include dimensions(100px, 45px, 1);
      @include svg('spatie');
      @include hide-text;
    }
  }

  .project {
    padding: 0 30px;

    @include no-flexbox {
      float: left;
      width: calc(100% - 340px);
    }

    h2,
    h3 {
      margin-top: 25px;
      display: inline-block;
      @include has-plain-links;
    }

    h2 {
      font-size: 28px;
      @include gotham-narrow-bold;
    }

    h3 {
      margin-left: 5px;
      text-transform: lowercase;
      color: $blue-light;
    }
  }
}
