.main {
  padding: 27px 11px 40px;

  @include breakpoint(sm) {
    padding-left: 26px;
    padding-right: 26px;
  }

  h1 {
    display: none;
    font-size: 1.5em;
    padding: 0 4px;
    @include gotham-narrow-bold;

    & + p, & + h2 {
      margin-top: 0;
    }

    @include breakpoint(md) {
      display: block;

      & + p, & + h2 {
        margin-top: 0;
      }
    }
  }

  h2 {
    @include gotham-narrow-bold;
  }

  p,
  h2 {
    padding: 0 4px;
    margin-top: $lh;
  }

  .highlight {
    margin-top: 6px;
  }

  p code {
    background-color: $blue-lighter;
    font-size: .9em;
    @include hack;
  }

  a {
    @include plain-link;
    border-bottom: 3px solid $blue-light;
  }

  .next {
    &:after {
      content: "\00BB";
      @include gotham-narrow-bold;
    }
  }
}
