.footer {
  color: $blue-light;
  padding: 55px 0 50px;
  text-align: center;
  font-size: .9em;
  position: relative;
  background-color: $blue-darker;
  letter-spacing: .03em;

  .contents {
    position: relative;
    z-index: 2;
  }

  .visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    background-image: image('mountain.jpg');
    opacity: .2;
    z-index: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid rgba(209,235,243,0.2);

    &:hover {
      border-bottom: 2px solid rgba($blue-light, .5);
    }
  }
}
