.container {
  min-height: 100vh;
  @include wrap;
  @include display-flex;
  @include flex-direction(column);
}

// .header {
//   @include display-flex;
//   @include flex-direction(column);

//   @include breakpoint(md) {
//     @include flex-direction(row);
//   }

//   @include no-flexbox {
//     @include clearfix;
//   }

//   .project {
//     @include no-flexbox {
//       float: left;
//       width: calc(100% - #{$sidebar-width});
//     }
//   }

//   .brand {
//     @include breakpoint(md) {
//       @include flex(0 0 $sidebar-width);

//       @include no-flexbox {
//         width: $sidebar-width;
//         float: left;
//       }
//     }
//   }
// }

.content-container {
  background-color: $white;
  @include display-flex;
  @include flex-direction(column);
  @include flex(1 1 auto);

  @include breakpoint(md) {
    @include flex-direction(row);
  }

  @include no-flexbox {
    @include clearfix;
  }
}

.navigation {
  @include flex(0 0 $sidebar-width);

  @include no-flexbox {
    width: $sidebar-width;
    float: left;
  }
}

.main {
  @include flex(1);

  @include no-flexbox {
    float: left;
    width: calc(100% - #{$sidebar-width});
  }
}

.footer {
}
