.header {
  color: $white;
  background: $blue;
  position: relative;

  .brand {
    padding: 15px 30px;

    @include breakpoint(md) {
      background: $blue-dark;
    }

    .logotype a {
      display: block;
      @include hide-text;
      @include dimensions(100px, 45px);

      @include svg('spatie');
      background-size: 80%;

      padding: 10px;
      border-radius: 3px;
      background-color: $blue-dark;

      @include breakpoint(md) {
        padding: 0;
        border-radius: 0;
        background-color: transparent;
        background-size: 100%;
      }
    }
  }

  .project {
    width: 100%;
    padding: 10px 30px 20px;

    @include breakpoint(md) {
      padding-top: 25px;
    }

    h2,
    h3 {
      display: inline-block;
      @include has-plain-links;
    }

    h2 {
      font-size: 1.8em;
      @include gotham-narrow-bold;
    }

    h3 {
      text-transform: lowercase;
      color: $blue-light;

      @include breakpoint(md) {
        margin-left: 5px;
      }
    }

    .github {
      position: absolute;
      right: 30px;
      top: 23px;
      display: block;
      opacity: .8;
      @include dimensions(32px, 32px);
      @include svg('github');
      @include hide-text;
    }
  }
}
