.footer {
  color: $blue-light;
  padding: 20px 0 40px;
  text-align: center;
  font-size: .9em;
  position: relative;
  background-color: $blue-darker;

  .contents {
    position: relative;
    z-index: 2;
  }

  .visual {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-image: image('mountain.jpg');
    opacity: .2;
    z-index: 1;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid rgba($blue-light, .5);
    }
  }
}
