.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include wrap;
}

.content-container {
  display: flex;
  flex-direction: row;
  background-color: $white;

  @include no-flexbox {
    @include clearfix;
  }
}

.navigation {
  flex: 0 0 340px;

  @include no-flexbox {
    width: 340px;
    float: left;
  }
}

.main {
  flex: 1 1;

  @include no-flexbox {
    float: left;
    width: calc(100% - 340px);
  }
}

.footer {
  flex: 1 1 auto;
}
