// Layout
$sidebar-width: 12rem;

// Typography
$lh: 27px;
$fs: .56rem;

// Colors
$black: #172a3d;
$white: #fff;
$gray: #929292;
$beige: #fff9f2;
$orange: #ea4f2f;
$blue: #007698;
$blue-light: #d1ebf3;
$blue-lighter: #f6fbfc;
$blue-dark: #056a88;
$blue-darker: #004966;
$blue-grayish: #87a9b3;
