@mixin display-flex {
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex($values) {
  -webkit-flex: $values;
  flex: $values;
}

@mixin no-flexbox {
  html.no-flexbox &,
  html.ie & {
    @content
  }
}
