@mixin gotham-narrow {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
  font-style: normal;
  font-weight: 400;
}

@mixin gotham-narrow-bold {
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
  font-style: normal;
  font-weight: 700;
}

@mixin hack {
  font-family: "Hack", "Menlo", "Lucida Console", "Lucida Sans Typewriter", monospace;
}
